<div class="container" style="margin-top:80px">
    <h2 class="fw-bolder">Admin Panel</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" [ngClass]="{'active':adminActive==true}" *appHadRole="['Admin']">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">User Management</button>
        </li>
        <li class="nav-item" role="presentation" [ngClass]="moderatorActive==true && adminActive==false?'active':''" *appHadRole="['Admin','Moderator']">
            <button class="nav-link" id="profile-tab"data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false" (click)="photoManagement()">Photo Management</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade"  [ngClass]="{'show active':adminActive==true}" id="home" role="tabpanel" aria-labelledby="home-tab">
            <app-user-management></app-user-management>
        </div>
        <div class="tab-pane fade" [ngClass]="(moderatorActive==true && adminActive==false)?'show active':''" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <app-photo-management></app-photo-management>
        </div>
    </div>
</div>
