<div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="height:50px">
    <div class="container" >
        <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 md-md-0 w-50 bg-dark" *ngIf="_loginService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link active fw-bold" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold">Messages</a>
                </li>
            </ul>
        </div>
        <div class="navbar-brand fw-bold text-center text-warning">Dating App</div>
    </div>

    <div class="dropdown" *ngIf="_loginService.currentUser$ | async" >
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{userName | titlecase}}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Edit Profile</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
    </div>
</div>