.navbar-brand{
    margin: auto;
    position: absolute;
    top: 6%;
    left: 45%;
}
.dropdown{
    right:5rem;
}
.dropdown-menu{
    margin-left:-50px;
}
@media (max-width:800px){
    .container{
        margin:0;
        padding:0;
    }
    .dropdown{
        position:absolute;
        right:15px;
    }
    .navbar-brand{
        left: 35%;
    }
    .bannerAdjuestmentlogin{
        left:45%;
    }
}
@media (max-width:450px) {
    .bannerAdjuestmentlogin{
        left:35%;
    }
}
img{
    max-height: 50px;
    border: 2px solid white;
}
.bannerAdjuestmentlogout{
    left:45%;
}