<div class="card">
    <div class="card-body">
        <div *ngIf="messages.length==0">
            No messages yet... say hi by using the message box below.
        </div>
        <ul *ngIf="messages.length>0" class="chat">
            <li *ngFor="let message of messages">
                <div>
                    <span class="chat-img" [ngClass]="message.senderUserName==userName?'float-end':'float-start'">
                        <img src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                        alt="image of user" class="rounded-circle">
                    </span>
                    <div class="chat-body">
                        <p class="content" [ngClass]="message.senderUserName==userName?'text-start':'text-end'">{{message.content}}</p>
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o text-warning">sent {{message.messageSent | date:'medium'}}</span>
                                <span class="text-danger" *ngIf="!message.dateRead && message.senderUserName!==userName">
                                    (unread)
                                </span>
                                <span class="text-success" *ngIf="message.dateRead && message.recipientName!==userName">
                                    (read {{message.dateRead | date:'medium'}})
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form #messageThread="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input type="text" class="form-control input-sm" name="messageContent" required
                [(ngModel)]="messageContent"
                placeholder="Send a message">
                <div class="input-group-append">
                    <button [disabled]="!messageThread.valid" class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>