<div class="container mt-5">
    <div style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead" *ngIf="!(_loginService.currentUser$ | async)">
            Come on in to view your matches... all you need to do is sign up! already have an account then sign in!
        </p>
        <p class="lead" *ngIf="_loginService.currentUser$ | async">
            View your match by clicking on find match button below.
        </p>
        <div class="text-center">
            <button routerLink="/register" class="btn btn-primary btn-lg me-2" 
            *ngIf="!(_loginService.currentUser$ | async)">Sign Up</button>
            <button routerLink="/login" class="btn btn-warning btn-lg me-2"
            *ngIf="!(_loginService.currentUser$ | async)">Sign In</button>
            <button class="btn btn-primary btn-info btn-lg" routerLink="/members"
            *ngIf="_loginService.currentUser$ | async">Find Match</button>
        </div>
    </div>
</div>